.DS_Store
/.idea/
/.codeception/_cache/
/.codeception/_output/
/.codeception/_config/params.local.php
/.codeception/_support/_generated/
/assets/build/
/node_modules/
/vendor/
/vendor-bin/
/vendor_prefixed/
.env.development
.env.production
